.firstSection {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
    min-height: 730px;
    min-width: 100%;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    display: block;
    top: 0;
    left: 0;
  }
    .title {
      width: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-animation: 2s ease 0s normal forwards 1 fadein;
      animation: 2s ease 0s normal forwards 1 fadein;
    }
    @keyframes fadein{
      0% { opacity:0; }
      66% { opacity:0; }
      100% { opacity:1; }
  }
  
  @-webkit-keyframes fadein{
      0% { opacity:0; }
      66% { opacity:0; }
      100% { opacity:1; }
  }
    .helper {
      position: absolute;
      margin: 2% 3% 0;
      right: 0;
      width: 40%;
      display: flex;
      justify-content: space-evenly;
    }
  
    .helperbtn {
      color: #4c8ecb;
      font-size: 1.2em;
      font-weight: 600;
      background: none;
      border: none;
    }
    .helperbtn:hover {
      color: #0071bb;
    }


@media only screen and (max-width : 1300px) {
  .title {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
}

@media only screen and (max-width : 1000px) {
  .helper {
    position: absolute;
    margin: 2% 3% 0;
    right: 65px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width : 600px) {
 .title {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
 }

 .helper {
  position: absolute;
  margin: 2% 3% 0;
  right: 65px;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.helperbtn {
  color: #4c8ecb;
  font-size: 80%;
  font-weight: 600;
  background: none;
  border: none;
}
}
